<html>
  <head>
    <title>Initiate</title>
  </head>
  <body>
    <div class="h1" style="text-align: center;">    
      <div class="card-header"><h3>Initiate Transaction</h3></div>
      <div class="card-body text-success" style="margin-top: 50px;">
        <h4 class="card-title">Account Holder Name: {{accountholderName}}</h4>
        <p class="card-text" style="font-size: 22px;">Bank Name: {{bankName}}</p>
        <p class="card-text" style="font-size: 22px;">Account Number: {{accountNumber}}</p>
        <p class="card-text" style="font-size: 22px;">Total Amount: {{totalAmount}}</p>
        <p class="card-text" style="font-size: 22px;">IFSC Code: {{ifscCode}}</p>
             <a class="btn btn-danger" href="/" role="button">Intiate</a>

      </div>   
    </div>
</body>
</html>
